#!/bin/csh

cat > namelist.wps.ungrib << EOF
&share
wrf_core = 'ARW',
start_date = '${START_TIME}:00:00','${START_TIME}:00:00','${START_TIME}:00:00',
end_date   = '${END_TIME}:00:00','${END_TIME}:00:00','${END_TIME}:00:00',
interval_seconds = 21600
/

&ungrib
out_format = 'WPS',
prefix = '${ungrib_file}',
/
EOF
