#!/bin/csh -f

setenv meic_type  ${meicType}
#开始日期格式yyyy-MM-dd
setenv start_date ${start_date}
#结束日期yyyy-MM-dd
setenv end_date  ${end_date}

setenv emissiondir  ${emissiondir}

setenv taskId ${taskId}

setenv max_dom ${max_dom}

setenv pslist ${pslist}

setenv sslist ${sslist}

if( ${meic_type} == cache) then

    #conf_template /public/home/tsinghua/wuguanyu/model-driver/template/meicd0${domain}_${meic_type}.conf.template
    setenv conf_template_dir ${conf_template_dir}

    setenv scripts_path ${scripts_path}

    setenv meic_build_path ${meic_build_path}

    setenv invoke_file ${invoke_file}

else if (${meic_type} == server) then

    #conf_template /public/home/tsinghua/wuguanyu/model-driver/template/meicd0${domain}_${meic_type}.conf.template

    setenv conf_template_dir ${conf_template_dir}

    setenv meicCityConfig ${meicCityConfig}

    setenv controlfile ${controlfile}

    setenv onefilehours ${onefilehours}

    setenv firsethour ${firsethour}

    setenv meic_server_url ${meic_server_url}

    setenv outpath "${outpath}<p.year><p.dayOfYear>"

    setenv megan_megan_valuepath "${megan_megan_valuepath}<p.dayOfYear>.ncf|||<p.speciesname>|||<p.hour>,0,:,:"

endif
