#!/bin/csh -f

setenv meic_type  ${meicType}

setenv max_dom ${max_dom}

setenv conf_dir ${conf_dir}

setenv meic_conf_path ${meic_conf_path}

if( ${meic_type} == cache) then

    setenv scripts_path ${scripts_path}

    setenv meic_build_path ${meic_build_path}

    setenv logFile ${logFile}

endif

if (${meic_type} == server)

    setenv interface_conf_path ${interface_conf_path}

endif
