#ungrib模板文件绝对路径/path/namelist.wps.ungrib.template
setenv namelist_template ${namelist_template}
#开始日期
setenv start_date ${start_date}
#结束日期
setenv end_date ${end_date}
#开始时间，默认18
setenv start_hour ${start_hour}
#ungrib生成的文件名称前缀FILE
setenv ungrib_file ${ungrib_file}
#是否为debug模式，0非，>0为debug
setenv debug ${debug}
#fnl输入目录/mc/share/input/fnl
setenv fnl_nput ${fnl_nput}
#gfs输入目录/mc/share/input/gfs
setenv gfs_input ${gfs_input}
#fnl输出目录/mc/share/input/ungrib_fnl
setenv fnl_output ${fnl_output}
#gfs输入目录/mc/share/input/ungrib_gfs
setenv gfs_output ${gfs_output}
#wrf安装目录