#geogrid模板文件绝对路径/path/namelist.wps.geogrid.template
setenv namelist_wps_geogrid_template ${wrfPre.namelist_wps_geogrid_template}
#Metgrid模板文件绝对路径/path/namelist.wps.metgrid.template
setenv namelist_wps_metgrid_template ${wrfPre.namelist_wps_metgrid_template}
#WRF模板文件绝对路径/path/namelist.wrf.template
setenv namelist_namelist_wrf_template ${wrfPre.namelist_namelist_wrf_template}
#开始日期
setenv start_date ${wrfPre.start_date}
#结束日期
setenv end_date ${wrfPre.end_date}
#开始时间，默认18
setenv start_hour ${wrfPre.start_hour}
#执行geogrid输入文件所需要的数据目录/path/geog
setenv geog_data ${wrfPre.geog_data}
#输出目录/path/geogrid
setenv geogrid_data ${wrfPre.geogrid_data}
#ungrib fnl输出目录/path/ungrib/
setenv ungrib_fnl_data ${wrfPre.ungrib_fnl_data}
#ungrib gfs输出目录/path/ungrib/
setenv ungrib_gfs_data ${wrfPre.ungrib_gfs_data}
#real_data目录/path/real_data
setenv real_data ${wrfPre.real_data}
#是否为debug模式，0非，>0为debug
setenv debug ${wrfPre.debug}