#ungrib模板文件绝对路径/path/namelist.wps.ungrib.template
setenv namelist_template ${namelist_template}
#开始日期
setenv start_date ${start_date}
#结束日期
setenv run_days ${run_days}
#全球数据集
setenv global ${global}
#模式驱动脚本目录
setenv scripts_path ${scripts_path}
#WRF安装目录
setenv wrf_build_path ${wrf_build_path}
#输入目录/mc/share/input/fnl
setenv input_path ${input_path}
#输出目录/mc/share/input/ungrib_fnl
setenv output_path ${output_path}
#ungrib生成的文件名称前缀FILE
setenv ungrib_file ${ungrib_file}
#是否为debug模式，0非，>0为debug
setenv debug ${debug}
