#开始日期
setenv start_date ${start_date}
#wrf开始时间
setenv wrf_start_hour ${wrf_start_hour}
#mcip开始时间（北京时间）, 16
setenv mcip_start_hour ${mcip_start_hour}
#运行日数
setenv run_days ${run_days}
#模式驱动脚本目录/public/home/tsinghua/lixin/my_code/git/model-driver/
setenv scripts_path ${scripts_path}
#CMAQ安装目录
setenv cmaq_build_path ${cmaq_build_path}
#GEOGRID文件输出目录
setenv geogrid_output_path ${geogrid_output_path}
#WRF文件输出目录
setenv wrf_output_path ${wrf_output_path}
#MCIP文件输出目录
setenv mcip_output ${mcip_output}
# for MCIP, ( d01 d02 d03 )
setenv APPL       = ( ${appl} )
setenv NCOLS      = ( ${ncols} )
setenv NROWS      = ( ${nrows} )
#是否为debug模式，0非，>0为debug
setenv debug ${debug}
