#geogrid模板文件绝对路径/path/namelist.wps.geogrid.template
setenv namelist_wps_geogrid_template ${namelist_wps_geogrid_template}
#Metgrid模板文件绝对路径/path/namelist.wps.metgrid.template
setenv namelist_wps_metgrid_template ${namelist_wps_metgrid_template}
#WRF模板文件绝对路径/path/namelist.wrf.template
setenv namelist_namelist_wrf_template ${namelist_namelist_wrf_template}
#开始日期
setenv start_date ${start_date}
#结束日期
setenv end_date ${end_date}
#开始时间，默认18
setenv start_hour ${start_hour}
#执行geogrid输入文件所需要的数据目录/path/geog
setenv geog_data ${geog_data}
#输出目录
setenv geogrid_data /path/geogrid
#ungrib fnl输出目录
setenv ungrib_fnl_data /path/ungrib/
#ungrib gfs输出目录
setenv ungrib_gfs_data /path/ungrib/
setenv real_data /path/real_data
#是否为debug模式，0非，>0为debug
setenv debug 1