
include file("this/etc/__task.conf")

common {
  emissiondir: ${emissiondir}
  taskid: ${taskId}
}
builder {
  outpath: "${outpath}<p.year><p.dayOfYear>"
  start: ${start_date}
  end: ${end_date}
}

common.snip.psmeasures.action: ${pslist}
common.snip.ssmeasures.action: ${sslist}
emission.megan.megan.valuepath: ${meganpath}"<p.dayOfYear>.ncf|||<p.speciesname>|||<p.hour>,0,:,:"
emission.megan.shutdown: false
emission.megan.grid: {
  "dx" : ${meic.dx},
  "dy" : ${meic.dy},
  "name" : "${meic.name}",
  "params" : "+proj=lcc +lat_1=${meic.stand_lat1} +lat_2=${meic.stand_lat2} +lat_0=${meic.ref_lat} +lon_0=${meic.ref_lon} +x_0=0 +y_0=0 +ellps=WGS84 +units=m +no_defs",
  "xcells" : ${meic.xcells},
  "xorig" : ${meic.xorig},
  "xpad" : 0,
  "ycells" : ${meic.ycells},
  "yorig" : ${meic.yorig},
  "ypad" : 0
}

