{
  "meicType": "${meicType}",
  "maxDom": ${maxDom},
  "confTemplateDir": "${confTemplateDir}",
  "startDate": "${startDate}",
  "runDays": ${runDays},
  "timeDiff": ${timeDiff},
  "emissiondir": "${emissiondir}",
  "emisFilePrefix": "${emisFilePrefix}",
  "pslist": "${pslist}",
  "sslist": "${sslist}",
  "meganPathPrefix": "${meganPathPrefix}",
  "runPath": "${runPath}",
  "taskId": "${taskId}",
  "meicRunRequestUrl": "${meicRunRequestUrl}",
  "meicGetStatusUrl": "${meicGetStatusUrl}",
  "onefilehours": ${onefilehours},
  "firsthour": ${firsthour},
  "meganShutdown": ${meganShutdown}
}