{
  "meicType": "${meicType}",
  "maxDom": ${maxDom},
  "confTemplateDir": "${confTemplateDir}",
  "startDate": "${startDate}",
  "runDays": ${runDays},
  "timeDiff": ${timeDiff},
  "emissiondir": "${emissiondir}",
  "username":${username},
  "password":${password},
  "sleepSeconds":${sleepSeconds},
  "pslist": "${pslist}",
  "sslist": "${sslist}",
  "meganPathPrefix": "${meganPathPrefix}",
  "runPath": "${runPath}",
  "taskId": "${taskId}",
  "meicRunRequestUrl": "${meicRunRequestUrl}",
  "meicGetStatusUrl": "${meicGetStatusUrl}",
  "onefilehours": ${onefilehours},
  "firsthour": ${firsthour},
  "meganShutdown": ${meganShutdown},
  "measureJarDir":${measureJarDir},
  "controlfile":${controlfile},
  "meicCityConfigPath":${meicCityConfigPath}
}